{% extends "Admin/base.html.twig"  %}
{% block title 'Reservation' %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container" >
<h1>Reservation E billet</h1>
<p>Bienvenu dans la permière interface qui va vous permettre de reserver billet cinema....</p>
</div>
</main>
{% endblock %}