
{% extends "Admin/base.html.twig" %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<form class="row g-3 needs-validation" novalidate style="padding: 3% 1%;">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Titre</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Sous titre</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Image</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Source</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Type</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Catégorie</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
</main>
{% endblock %}